@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

:root{

    /* ### Primary */
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red : hsl(0, 93%, 68%);

    /* ### Neutral */
    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    /* ### Gradients */
    --linear-gradients-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --Linear-gradients-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    background: var(--linear-gradients-1);
    min-height: 100vh;
    overflow-x: auto;
}

.container .desktop {
    display: none;
}

.container .mobile {
    display: block;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.container main .desc {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 21px;
    font-weight: 400;
}

.container main h1 {
    letter-spacing: 0.8rem;
    padding: 4.5rem 1rem 1rem 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 2.75rem;
    margin: auto;
}

.container main .input-email .arrow-svg {
    background: var(--Linear-gradients-2);
    border-radius: 1.2rem;
    padding: 1rem 2rem 1rem 2rem;
    position: absolute;
}

.container main .input-email button {
    position: absolute;
    right: 75px;
    top: 12px;
    cursor: pointer;
}

.container main p , .container main h1 span {
    color: var(--Desaturated-Red);
}

.container main  .email-text {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1.5rem;
    border: 1px solid var(--Desaturated-Red);
    font: inherit
}


.container .hero {
    width: 100%;
}

form {
    position: relative;
    width: 100%;
    padding: 1rem;
}

.container main .email-text {
    width: 100%;
 }

.photo-section{
    background-image: url("./images/hero-desktop.jpg");
    display: none;
}



@media (min-width: 480px) {
    
}


@media (min-width: 768px) {
    body {
        display: flex;
        /* justify-content: center;
        align-items: center; */
    }

    
    main {
    /* padding-left: 3rem; */
    width: 50%;
    padding-right: 3rem;
    padding-top: 2.5rem;
    margin: 0 auto;
    }

    .container .hero {
        display: none;
    }

    .container .desktop {
        display: block;
    }
    
    .container main .input-email button {
        position: absolute;
        right: 65px;
        cursor: pointer;
        top: -3px;
    }

    .photo-section{
        display: block;
        width: 45%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .container main h1 {
        padding: 9rem 1.6rem 1.5rem 0rem;
        font-size: 4.75rem;
        text-align: left;
    }
    

    .container main .desc {
        text-align: left;
        line-height: 21px;
        padding: 0 1rem 1.5rem 0;
    }

    .container .mobile {
        display: none;
    }

    form {
        padding: 0;
    }

    
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1200px) {
    
}